$splash-bg: #44c785;
$splash-font-light: #c7eedb;
$splash-font-dark: #69d29d;

$answer-bg: #ba923b;
$answer-offset: #cfa751;

$dashboard-bg: #12aafc;
$dashboard-font-light: #c1e9fe;
$dashboard-font-dark: #41bbfd;

$ui-shelf-bg: #373737;
$ui-portrait-border: #585858;

$ui-cta-button: #b64743;
$ui-cta-button2: #47bcc0; // next question
$ui-cta-button3: #40e075; // reset quiz

$question-heading: #47bcc0;
$question-body: #2d2c2c;

$subtle-text: #707070;

$score-highlight: #ddab3e;

